/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}


.main-container {  
  padding: 20px;
}
.title {
  color: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2.0em;
  font-weight: 600;
  line-height: 1.6;
  padding-left: .5em;
  margin-bottom: .5em;
  background: #2867A1;
}

.content-text {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1em;
  color:  #2867A1;
}

.content-sub-text {
  font-size: 2.0rem;
  line-height: 1.3;
  color:  #2867A1;
  padding-left: 1.0em;
}
.sub-container {
  width: 50%;
  float: left;
  padding: 40px;
  margin-top: 30px;
  background: white;
  height: 400px;
  border: 8px solid #2867A1;
}
 
.token-table{
  font-family:arial;
  height:210px;
  width:300px;
}
.ul-style{
  list-style:none;
  max-height:210px;
  margin:0;
  overflow:auto;
  padding:0;
  text-indent:10px;
}
.li-style{
  line-height: 25px;
  margin-bottom: 0;
  padding-bottom: 1.0rem;
  padding-top: 1.0rem;
}
.li-style:nth-child(even){
  background: #2867A1;
  color: white;
}